img.align-right {
    float: right;
    margin-left: 10px;
    padding-top: 20px;
    
}
a:link {
    text-decoration: none;
}

a {
    color: #cc6600;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cc6600;
}

p {
   font-family: 'Catamaran', sans-serif;
   font-size: 20px;
   padding-left: 10px;
   padding-right: 10px;
   color: blue;
}

h1,h2 {
     font-family: 'Catamaran', sans-serif;
     font-size: 29px;
}

h3 {
    font-family:  'Catamaran', sans-serif;
    font-size: 26px;
}

h1 {
    font-size: 29px;
    
}

h1 {
    font-size: 28px;
    font-family: 'Catamaran', sans-serif;
    color: black;
}

a {
    font-size: 27px;
}