
div {
    color: brown;
    font-family: 'Catamaran', sans-serif;
}
header {
    color: brown;
}

margin {
    color: brown;
}



p {
    color: black;
    font-family: 'Catamaran', sans-serif;
}
a:link {
    text-decoration: none;
}

a {
    color: #cc6600;
    font-size: 27px;
    font-family: 'Catamaran', sans-serif;
    border-color: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cc6600;
}


h1 {
    color: black;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 29px;
}

img {
    size:A4;
}

img.align-center {
    display: block;
    margin: 0px auto;
    
}

p {
    font-size: 22px;
}
h3,h2  {
    
    color: black;
    font-family: 'Catamaran', sans-serif; 
}

h4 {
    font-family: 'Catamaran', sans-serif;
}


img.align-right {
    float: right;
    margin-left: 10px;
    padding-top: 130px;
    
}